.board{
            border: 7px solid black;
            border-radius: 10px;
            margin-top: 15px;
        }
        table {
            border-collapse: collapse;
        }
        td {
            width: 60px;
            height: 60px;
            box-sizing: border-box;
            text-align: center;
        }
        .circle {
            width: 50px; /* Diameter of the circle */
            height: 50px; /* Diameter of the circle */
            border: 3px solid black;
            border-radius: 50%; /* Makes it a circle */
            /*background-color: blue; /* Color of the circle */
            margin: auto; /* Centers the circle horizontally */
        }

        .player-container {
            display: flex; /* Align elements in a row */
            justify-content: space-between; /* Space out the elements */
            align-items: center; /* Vertically align the items in the center */
            width: 100%; /* Adjust width as needed */
            padding: 10px; /* Add some padding around the div */
            border: 7px solid black; /* Border for styling */
            border-radius: 10px;
            margin-bottom: 15px;
            margin-top: 20px;
        }

        /* Styles for the circles */
        .circle_ {
            width: 30px; /* Circle diameter */
            height: 30px; /* Circle diameter */
            border-radius: 50%; /* Make it circular */
            margin-right: 10px;/* Space between the circle and the text */
        }

        /* Blue circle for Player 1 */
        .blue-circle {
            background-color: blue;
        }

        /* Red circle for Player 2 */
        .red-circle {
            background-color: red;
        }

        .detail-container{
            display: flex;
        }

        .player-name {
            font-weight: bold; /* Bold text */
        }

        .winner{
            border-radius: 0;
            border: none;
            display: none;
        }